*{
    box-sizing: border-box;
        text-decoration: rtl;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
    
    
    }
   header fieldset img{
       margin-bottom: 3px;
   }

    
    header > fieldset{
        direction: rtl;
    }
    header input{
        height: 20px;
    }
    .inner-ul{
        position: absolute;
        display: none;
        flex-direction: column;
        width:110px;
        text-align: right;
    
    }
    ul li:hover ul{
        display: flex;
        z-index: 1;
        background-color: transparent;
    }
    
    .odot{
        width: 130px;
        right: 55px;
    
    }
    .hativot{
    
    right: 130px;}
    .corp{
        right: 217px;
        width: 150px;
    }
    .invest{
        right: 354px;
        width: 120px;
    }
    .station{
        right:482px
    
    }
    .carrier{
        right: 600px;
    }
    .press{
     right:684px;
     width: 130px;
    }
    
    nav > ul > li {
    padding-right: 20px;
    border-right: solid 0.1px rgb(194, 192, 192);
    
    }
    nav > ul > li ul li {
        border-bottom:solid rgb(150, 146, 146);
    }
    header{
        background: linear-gradient(to bottom, #8a8c8f 0%, #aeadad 100%);
        height: 105px;
        margin: none;
    }
    header > img:first-of-type{
        position: relative;
        left: 950px;
        top: 34px;
    
    }
    
    header > div{
        position: absolute;
        left: 192px;
        width:766px ;
    }
    form{
        width: 766px;
        margin: auto;
        
        
    }
    fieldset{
        padding-bottom: 32px;
        border: none;
    
        
    
    }
    li:hover, fieldset span:nth-of-type(2):hover, .text-bottom:hover, span:hover{
        color: rgb(58, 58, 143);
        text-decoration: underline;
        cursor: pointer;
    }
    li {
        background-color: rgb(161, 161, 161);
    
    
        color: whitesmoke;
        font-size: 15px;
        height: 22px;
        padding-right: 17px;
        padding: 0px 17px 4px 0px;
        
    
    
    
        
    }
    ul{
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        flex-direction: row-reverse;
    height: 20PX;
    width: 766px;
    margin: 0px;
    justify-content: space-between;
    padding-left: 0px;
    
        
        
    }
    nav{
        width: 890px;
        display: flex;
        margin: auto;
    }
    input{
        direction: rtl;
        width: 132px;
        margin-right: 10px;
    
        
    }
    span{
        color: whitesmoke;
        
    }
    main{
        width:900px;
        margin:auto;
        margin-top: 95px;
        padding-bottom: 58px;
        height: 500px;
    
        
        
    }
    main > div:first-of-type{
        margin-top: -50px;
    }

    
    main > div:last-of-type{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 450px;
        width: 780px;
    }

    .smallpic:last-of-type{
        width: 386px;
        height: 356px;
        margin-left:80px;
        margin-top: 0px;
    }
    p{
        color: #6d6d6d;
        margin: auto;
        text-align: right;
        width: 439px;   
        border-bottom: #8a8c8f solid;
        margin-bottom: 14px;
    margin-top: 17px;
    }
    .smallpic:nth-of-type(2){
        margin-bottom: 6px;
    }
    .smallpic:first-of-type{
        margin-bottom: -7px;
    }
 
    
    
 
   
    
    .smallpic{
        width: 288px;
        height: 168px;
        background: linear-gradient(to bottom, #f5f5f5 60%, #e3e3e3 92%);        border-top: outset 0.1px rgba(211, 204, 204, 0.774);
        border-right:  outset 0.01px  rgba(211, 204, 204, 0.774);
        border-left:  outset 0.1px rgba(211, 204, 204, 0.774);
        margin: auto;
        margin-top: 38px;
        border-radius: 0 20px 0 0;       
    
        
    
    
    }
   
    
    .text-p{
        font-style: normal;
        font-size: 12px;
        color: rgb(87, 84, 84);
        font-weight: 100;
        width: 270px;
        border:none;
        margin: auto;
        padding-top: 0px;
    }
    .head-p{
        width: 255px;
        color: rgb(51, 84, 177);
        border-bottom: solid rgb(236, 231, 231);
        margin-bottom: 0px;
    }
    
    
    
   
    

    
   
    footer{
        width: 100%;
        
        position:fixed;
        bottom: 1px;
        height: 35px;
        background-color: rgb(161, 161, 161);
    }
    footer ul{
    width: 850px;
    margin: auto;
    background-color: rgb(161, 161, 161);
    
    background-color: transparent;
    height: 35px;
    padding-top: 14px;
    
    
    
    
    }
    footer ul li {
        padding-right: 4px;
        margin-left: 0px;
        border-right: solid;
        background-color: transparent;
        height: 23px;
    
    
        font-weight: 100;
       
    font-size: 14px;
    
    }
    .smallpic:last-of-type p{
        color: black;
    }
    .smallpic:nth-of-type(3) div:first-of-type{
        color: #005ca0;
    font-weight: bold;
    font-size: 15px;
    margin-left: 17px;
}


.smallpic:nth-of-type(3) div div {

    color: #6d6d6d;
    font-size: 13px;
    font-weight: bold;
    width: 335px;
}
    
    .smallpic .text-p{
        direction: rtl;
    }
    main form{
        margin-left: 120px;
        direction: rtl;
        width:261px;
        
    }
    fieldset > p{
        margin-left: 250px;
    }
    label.text-p{
        padding-right: 36px;
    }
    main input{
        width: 170px;
        margin-top:5px ;
    }
    fieldset .text-p{
width: 370px;   
padding-right: 12px; }
main form div:first-of-type input{
    margin-right: 34px;
}
main form div:nth-of-type(2) input{
    margin-right:20px;
}
main form div:nth-of-type(3) input{
    margin-right:50px;
}
main form div:nth-of-type(4) input{
    margin-right:45px;
}
main form div textarea{
    margin-right:41px;
    margin-top:5px ;
height: 100px;}
.smallpic:last-of-type p div{
    margin-right: 50px;
}
.smallpic:last-of-type p{
    width: 419px;

}
main > div:first-of-type div:first-of-type{
    height: 38px;
    width: 136px;
    background: linear-gradient(to bottom, #f5f5f5 60%, #e3e3e3 92%);     margin-left: 780px;
    text-align: right;
    padding-top: 6px;
    

}
main > div:first-of-type div:last-of-type{
    height: 38px;
    width: 136px;
    margin-left: 600px;
    text-align: right;
    padding-top: 12px;
    position: relative;
    top: -52px;
    

}
a{
    text-decoration: none;
}
main button{
    background: linear-gradient(to bottom, #8ab5ff 8%, #3e2ad5 92%);
color: white;
margin-right: 225px;

}
a:hover{
    color: blue;
    text-decoration: underline;
}
 .blue{
    color: blue;
}
footer li > img{
    height: 15px;
    margin-right: 3px;
    border: solid 0.1px white;
    background-color: white;
}

